// app.pug
doctype html
html(lang="en")
  head
    title My App
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/mui/5.0.0-alpha.35/material-ui.min.css")
  body
    #root
