doctype html
html(lang="en")
  head
    title QR Code Generator
    link(rel="stylesheet", href="/static/style.css") // Ako imate stilove
  body
    #root // Ovdje će React aplikacija biti montirana
    script(src="/static/index.js") // Putanja do vašeg React bundlea
